/*variables*/
:root{
  --header-height: 3.5rem;

  /*colors*/
  --first-color-lighten: rgb(71, 111, 143);
  --title-color: hsl(216, 100%, 99%);
  --header-text-color: rgb(251, 254, 255);
  --text-color: rgb(0, 0, 0);
  --header-color: hsl(217, 78%, 7%);
  --background-color: rgb(205, 227, 241);

  /*font*/
  /*--body-font: */
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --smaller-font-size: 0.8rem;

  /*font weight*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*z index*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*typewriter*/
  --typewriterSpeed: 6s;
  --typewriterCharacters: 25;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Cormorant Garamond', serif;
  /* background-color: var(--background-color); */
  background-color: #32597a;
} 

/*header*/
header{
  position: absolute;
  width: 100%;
  min-height: 60px;
  background-color: var(--header-color);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header {
  font-family: 'Cormorant Garamond', serif;
}

#instagram, #gmail, #pinterest, #spotify{
  text-decoration: none;
  font-size: 1.8em; 
  background-color: var(--header-color);
  color: var(--title-color);
  box-shadow: 0.38px 0.38px 0.38px #00000080, 1.88px 0.19px 2.26px #00000080, 0.38px 0.38px 1.88px #00000080, 
  0.38px 0.38px 0.57px #00000080, inset 0.38px 0.38px 1.88px #00000080, inset 0.38px 0.38px 1.88px #00000080,
  inset 0.38px 0.38px 1.88px #00000080, inset 0.38px 0.38px 1.88px #00000080;
  border-radius: 5.47px;
  padding: 2.08px 3.58px;
  margin: 0 7.55px;
  animation: animate_logo 3s linear infinite;
  text-shadow: 0 0 9.43px #0072ff, 0 0 18.87px #0072ff, 0 0 28.3px #0072ff, 0 0 37.74px #0072ff;
}

#gmail{
  animation-delay: 0.2s;
}

#pinterest{
  animation-delay: 0.4s;
}

.spotify_container {
  background-image: url("TacendaPics/spotify_div_background.jpg");
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 7%;
}

@keyframes animate_logo{
  from{ filter: hue-rotate(0deg); }
  to{ filter: hue-rotate(20deg); }
}

header .logo{
  color: var(--title-color);
  font-size: 1.4em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25em;
}

header .logoSocials{
  display: flex;
  column-gap: 0.8em;
}

header ul{
  position: relative;
}

header ul li{
  position: relative;
  list-style: none;
  float: left;
}

header ul li .dropdown__arrow{
  font-size: 1.2em;
  font-weight: initial;
  transition: transform 0.4s;
}

header ul li a{
  color: var(--title-color);
  font-size: 1.2em;
  padding: 16px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover{
  background-color: var(--first-color-lighten);
}

header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: var(--header-color);
}

header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}

header ul li ul li a{
  color: var(--header-text-color);
}

.t{
  padding-top: 60px;
}

.title{
  background-image: url("TacendaPics/cover_div_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_page{
  padding-top: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title_page img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.editors_letter{
  background-image: url("TacendaPics/letter_div_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  padding-top: 13%;
}

.letter_title{
  color: var(--text-color);
  font-size: 4.3vw;
  padding-bottom: 1%;
}

.letter{
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-indent: 2vw;
  color: var(--text-color);
  max-width: 80%;
  font-size: 2vw;

  padding-left: 20%;
  padding-bottom: 6%;
}

.wrapper{
  color: white;
  text-decoration: none;

  /* padding-top: 5%; */
  /* padding-left: 3%; */
  /* padding-bottom: 5%; */
}

.dynamic-text, .static-text {
  list-style-type: none;
  position: relative;
  width: max-content;
  font-size: 2.7vw;
  margin-bottom: 5%;
  color: black;
}

.dynamic-text::before,
.dynamic-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dynamic-text::before {
  /* background: rgb(175, 96, 109); */
  background: white;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
}

.dynamic-text::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
      blink 2000ms steps(var(--typewriterCharacters)) infinite;
  }
  @keyframes typewriter {
  to {
      left: 100%;
  }
}

@keyframes blink {
  to {
      background: transparent;
  }
}

.gallery{
  background: url("TacendaPics/gallery_div_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  padding-bottom: 10%;

  max-width: 3000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-image{
  width: 30%;
  height: calc(50%-20px);
  min-width: 300px;
  min-height: 200px;
  margin: 1%;
  overflow: hidden;
}

img:hover{
  cursor: grab;
}

img.image {
  transition: all 0.2s ease-in-out;
}

img.image:hover {
filter: brightness(50%);
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

/* popup */

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  max-width: 1600px;
  height: 90vh;
  max-height: 800px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
}

.popup.active{
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
  opacity: 1;
  transition: opacity .5s;
  transition-delay: 1s;
}

.top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 300;
}

.image-name{
  opacity: 0;
}

.close-btn{
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn img{
  height: 30px;
  width: 30px;
}

.arrow-btn{
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}

.left-arrow{
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.right-arrow{
  right: 10px;
}

.left-arrow img{
  width: 50px; 
  height: 50px;
}

.right-arrow img{
  width: 50px; 
  height: 50px;
}

.arrow-btn:hover{
  background: rgba(0, 0, 0, 0.5);
}

.index{
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.scrollbar{
  position: absolute;
  width: 1750px;
  height: 80%;
  overflow-x: none;
  overflow-y: scroll;
  top: 10%;
}

.large-image{
  margin-top: 0%;
  width: 700px;
  height: 900px;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.gallery-title{
  /* width: 100%; */
  font-family: 'Savoye LET', sans-serif;
  font-size: 110px;
  font-weight: 500;
  padding-top: 200px;
  color: #140a43;
}

/* .gallery_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* .gallery_first_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery_first_row img{
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  height: 400px;
} */

.gallery_row img{
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  height: 400px;
}

footer{
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 44%;
}

.copyright{
  /* color: var(--title-color); */
  color: black;
  font-size: 1.4vw;
  font-family: 'Cormorant Garamond', serif;
}

@media (max-width: 1000px){
  header{
      padding: 0 20px;
  }
  header nav{
      position: absolute;
      width: 100%;
      top: 60px;
      left: 0;
      background-color: var(--header-color);
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
  }
  header nav ul li{
      width: 100%;
  }
  header nav ul li ul{
      position: relative;
      width: 100%;
      left: 10px;
      height: 0;
      overflow: hidden;
      transition: height 0.4s;
  }

  header .nav__toggle{
      position: relative;
      width: 32px;
      height: 32px;
  }
  header .nav__toggle-menu, header .nav__toggle-close{
      font-size: 1.25rem;
      color: var(--title-color);
      position: absolute;
      display: grid;
      place-items: center;
      inset: 0;
      cursor: pointer;
      transition: opacity 0.1s, transform 0.4s;
  }
  header .nav__toggle-close{
      opacity: 0;
  }

  .show-menu{
      opacity: 1;
      pointer-events: initial;
  }
  .show-icon .nav__toggle-menu{
      opacity: 0;
      transform: rotate(90deg);
  }
  .show-icon .nav__toggle-close{
      opacity: 1;
      transform: rotate(90deg);
  }

  .show-dropdown .dropdown__arrow{
      transform: rotate(180deg);
  }
}
@media (min-width: 1000px){
  header ul li ul{
      position: absolute;
      left: 0;
      width: 200px;
      background-color: var(--header-color);
      display: none;
  }
  header ul li:hover ul{
      display: block;
  }
  header ul li:hover .dropdown__arrow{
      transform: rotate(180deg);
  }
  .editors_letter{
      padding-top: 16%;
  }
}
